@import url('/vars.css');

section {
    padding: 5rem 2rem;
    text-align: center;
    display: grid;
    gap: 3.5rem;
    grid-template-areas: 'header' 'webcontent';
}

section .wrapper {
    max-width: 140.5rem;
}

section.purp-gradient-bg {
    background: linear-gradient(
        rgb(30, 18, 32),
        rgb(24 15 28 / 40%)
    );
}

.content {
    display: grid;
    gap: 4rem;
    margin-top: 2rem;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-inline: auto;
}


.box {
    background-color: var(--infobox);
    border-radius: 0.5rem;
    padding-block: 2.6rem;
    /* width: 220px; */
    margin-inline: auto;
    box-shadow: rgb(0 0 0 / 30%) 0 0 1.8rem;
    display: grid;
    gap: 1rem;
    min-width: 21.2rem;
    min-height: 21rem;
    text-decoration: none;
    transition: transform 250ms ease-in-out;
    box-sizing: border-box;
    border: 0;
}

.box-highlighted {
    border: 2px solid var(--infobox-selected);
}

a.box[onclick]:hover, button.box[onclick]:hover,
a.box[onclick]:focus-visible, button.box[onclick]:focus-visible {
    transform: scale(1.05);
    cursor: pointer;
}

.box .box-title {
    font-size: calc(var(--font-size) + 0.2rem);
}

.box .box-desc {
    font-size: var(--font-size);
}

.box .box-image {
    width: 8rem;
    height: 8rem;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(200deg) brightness(104%) contrast(103%);
    margin: auto;
    margin-bottom: 0.8rem;
}

section:nth-of-type(even) .box {
    background-color: var(--infobox-blue);
}

.box .box-image.scc {
    background-image: url('/media/icons/school.svg');
}

.box .box-image.trs {
    background-image: url('/media/icons/retail.svg');
}

.box .box-image.networking {
    background-image: url('/media/icons/networking.svg');
}

.box .box-image.business {
    background-image: url('/media/icons/business.svg');
}

.box .box-image.amazon {
    background-image: url('/media/icons/amazon.svg');
}

.box .box-image.music {
    background-image: url('/media/icons/music_ind.svg');
}

.box .box-image.program {
    background-image: url('/media/icons/programming.svg');
}

.box .box-image.web {
    background-image: url('/media/icons/websites.svg');
}

.btn {
    display: inline-block;
    text-decoration: none;
    border: var(--clr-accent) solid 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    font-size: var(--font-size);
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-inline: auto;
    transition: background-color 70ms ease-in;
}

.btn:hover,
.btn:focus-within {
    background-color: var(--clr-accent);
}

.btn-container .btn:not(:first-child) {
    margin-top: 1.5rem;
}

.grayed-out, button.box:not([onclick]) {
    filter: grayscale(1) contrast(35%);
    box-shadow: none;
}

#infoBoxPopup {
    position: fixed;
    inset: 0;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.2);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}
#infoBoxPopupContent {
    position: relative;
    margin-inline: 2rem;
    z-index: 3;
    background-color: var(--main-bg-color);
    padding: 1.8rem 2.2rem;
    max-width: 60rem;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 30%) 0 0 1.8rem;
}
#infoBoxPopupContent p {
    line-height: 2.8rem;
    margin-bottom: 0.8rem;
}
p#serviceLength {
    margin-bottom: 1.6rem;
}
#rolePosition::before {
    content: 'Position: ';
    font-weight: 700;
}

#roleIndustry::before {
    content: 'Industry: ';
    font-weight: 700;
}
#roleDesc::before {
    content: 'Role Details: ';
    font-weight: 700;
}
#infoContent::before {
    content: 'What I\'ve Learnt: ';
    display: block;
    font-weight: 700;
}

/* page changes */

section .content {
    grid-area: webcontent;
}

section .header {
    max-width: 60rem;
    margin-inline: auto;
    grid-area: header;
}

section .header h2 {
    font-size: calc(var(--font-size) + 1.2rem);
    margin-bottom: 2.5rem;
}

section .header p {
    line-height: calc(var(--font-size) + 1.2rem);
}

section#experience {
    clip-path: polygon(50% 0, 100% 3%, 100% 97%, 0 100%, 0 3%);
    padding-block: 8rem;
}

section#education {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 97%);
    padding-bottom: 8rem;
}

main section {
    padding-top: 2rem;
}

main section h2 {
    margin-bottom: 0.5rem;
}

main #ahollowaytxt p {
    padding-block: 1rem;
    font-size: var(--font-size);
}

main #summary {
    padding: 3rem 1.2rem;
    width: auto;
    max-width: 68rem;
}

main #summary p {
    line-height: calc(var(--font-size) + 1.2rem);
}

section#contact .btn-container a {
    display: inline-block;
    margin-inline: 1.5rem;
}


/* Tablet (M) screen size (800px) */
/* @media screen and (min-width: 50rem) {

} */

/* PC (L) screen size (1100px) */
@media screen and (min-width: 68.75rem) {
    /* general */
    main #summary {
        padding: 3rem;
    }

    section .content {
        grid-template-columns: 1fr 1fr !important;
    }

    .box {
        padding: 30px 20px;
        min-width: 246px;
        min-height: 246px;
    }
    .box .box-image {
        width: 97px;
        height: 97px;
    }

    #roleIndustry {
        position: absolute;
        right: 0;
        top: 0;
        padding: inherit;
    }

    /* skills */
    section#skills {
        grid-template-areas: 'header webcontent';
        padding-block: 80px;
        max-width: 1350px;
        margin-inline: auto;
    }

    section#skills .content {
        margin-top: 0;
        grid-template-columns: 440px auto;
        grid-template-columns: 1fr 1fr;
    }

    section#skills .header {
        max-width: 410px;
        text-align: left;
    }

    section#skills .btn {
        grid-column: span 2;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }

    section#education .content {
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    /* portfolios */
    section#portfolios {
        grid-template-areas: 'webcontent header';
        padding-block: 80px;
        max-width: 1350px;
        margin-inline: auto;
    }

    section#portfolios .header {
        max-width: 410px;
        text-align: right;
    }
    
    section#portfolios .content {
        margin-top: 0;
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}

/* Large PC (XL) screen size (2180px) */
@media screen and (min-width: 136.25rem) {

}