/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('/vars.css?v=3');
@import url('/css/hamburgers.css?v=3');
@import url('/css/background.css?v=4');
/* main */
:root {
    font-size: 62.5%;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    font-weight: 300;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    box-sizing: border-box;
}
html, body {
    background-color: var(--main-bg-color);
    background-image: linear-gradient(
        #080820 0%,
        #02010c 10%,
        #02010c 92%,
        #07071b
    );
    background-repeat: no-repeat;
    background-size: cover;
    font-size: var(--font-size);
}

*:focus-visible {
    outline: auto;
    outline-offset: 0.6rem;
    overflow: visible;
}

a {
    text-decoration: none;
}
button.nostyle {
    font: inherit;
    display: inline-block;
    border: none;
    text-decoration: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    text-align: left;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/* :target::before {
    content: "";
    position: relative;
    visibility: none;
    height: 80px; 
    margin-top: -80px;
}
*/

/* defaults */

.clr-accent {
    color: var(--clr-accent);
}

h1 {
    font-size: 3rem;
}

h1, h2, .heading {
    /* font-family: 'Roboto Condensed', sans-serif; */
    letter-spacing: 0.05ch;
    font-weight: 700;
}
h3 {
    /* font-family: 'Roboto Condensed', sans-serif; */
    letter-spacing: 0.05ch;
    font-weight: 700;
}

/* header */
header {
    background-color: transparent;
    margin-inline: auto;
    min-width: -moz-available;
    min-width: -webkit-fill-available;
    position: fixed;
    top: 0;
    z-index: 5;
    transition: all 140ms ease;
}

/* when mobile nav bar open */
/* style head bg */
header.activated {
    background-color: var(--clr-header-activated);
}
/* show social btns */
header.activated .head-socials {
    opacity: 1;
    display: block;
    visibility: visible;
}
header.activated #head-logo {
    opacity: 1 !important;
}

header .wrapper {
    display: grid;
    margin: 1.2rem auto;
    padding-inline: 1.2rem;
    gap: 1.5rem;
    max-width: 60rem;
}

header #head-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .head-socials {
    opacity: 0;
    transition: opacity 300ms;
    visibility: hidden;
}

header .head-socials img {
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(200deg) brightness(104%) contrast(103%);
    width: 4rem;
    height: 4rem;
    padding-right: 0.5rem;
}

header #head-logo {
    background-image: url('/media/icons/ajh.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 5.4rem;
    height: 5.4rem;
    margin-right: 3.2rem;
    transition: opacity 150ms;
}

header #head-bottom {
    max-height: 0;
    /* display: none; */
    overflow: hidden;
    transition: max-height ease-out 200ms;
}

header #head-bottom.activated {
    max-height: 100%;
    /* display: block; */
}

header button {
    background-color: var(--infobox) !important;
}

header nav li {
    list-style-type: none;
}

header nav li a {
    display: block;
    text-align: center;
    padding-block: 1.2rem;
    margin-block: 0.8rem;
    background-color: var(--infobox-blue);
    border-radius: 0.5rem;
    transition: background-color 100ms ease-in-out;
}

#head-scrollfix {
    height: 8rem;
    width: 100vw;
}

/* footer */

footer {
    padding-top: 3rem;
    padding-bottom: 2rem;
    /* background-image: linear-gradient(
        rgba(30, 38, 63, 0),
        #0e0d3063 40%
    ); */
    /* background-color: #00051138; */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
footer .wrapper {
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
}
footer p {
    font-weight: 500;
    margin-bottom: 0.8rem;
}
footer #footlinks {
    display: flex;
    justify-content: space-around;
}
h3 .material-symbols-outlined {
    font-size: inherit;
    vertical-align: -0.2rem;
    margin-right: 0.4rem;
}

/* different screen rez */

/* Tablet (M) screen size (660px) */
@media (min-width: 41.25rem) {
    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav li a {
        padding: 0.4rem 1.2rem;
        background-color: unset;
    }
    header nav li a:hover {
        background-color: hsla(0, 0%, 0%, 0.5);
    }
}

/* PC (L) screen size (1180.8px) */
@media (min-width: 73.8rem) {
    header {
        background-color: transparent !important;
        position: relative;
    }
    #head-scrollfix {
        display: none;
    }
    header #head-bottom {
        display: block;
        max-height: 100%;
    }
    header #head-mobnav {
        visibility: hidden;
    }
    header .head-socials {
        visibility: visible;
        opacity: 1;
    }
}

/* Large PC (XL) screen size (2180px) */
@media (min-width: 136.25rem) {
    :root {
        font-size: 75%;
    }
}