@import url('/vars.css');

section {
    padding: 50px 20px;
    text-align: center;
    display: grid;
    gap: 35px;
    grid-template-areas: 'header' 'webcontent';
}

section .wrapper {
    max-width: 1405px;
}

section.purp-gradient-bg {
    background: linear-gradient(
        rgb(30, 18, 32),
        rgb(24 15 28 / 40%)
    );
}

.content {
    display: grid;
    gap: 40px;
    margin-top: 20px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-inline: auto;
}


.box {
    background-color: var(--infobox);
    border-radius: 5px;
    padding: 30px 20px;
    width: 220px;
    margin-inline: auto;
    box-shadow: rgb(0 0 0 / 30%) 0 0 18px;
    display: grid;
    gap: 14px;
    min-width: 246px;
    min-height: 246px;
    text-decoration: none;
    transition: transform 250ms ease-in-out;
    box-sizing: border-box;
    border: 0;
}

.box.box-highlighted {
    border: 2px solid var(--infobox-selected);
}

a.box:hover, button.box:hover,
a.box:focus, button.box:focus {
    transform: scale(1.05);
    cursor: pointer;
}

.box .box-title {
    font-size: 1.3rem;
}

.box .box-desc {
    font-size: 1.25rem;
}

.box .box-image {
    width: 97px;
    height: 97px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(200deg) brightness(104%) contrast(103%);
    margin: auto;
    margin-bottom: 8px;
}

section#skills .box, section#portfolios .box {
    background-color: var(--infobox-blue);
}

.box .box-image.scc {
    background-image: url('/media/icons/school.svg');
}

.box .box-image.trs {
    background-image: url('/media/icons/retail.svg');
}

.box .box-image.networking {
    background-image: url('/media/icons/networking.svg');
}

.box .box-image.business {
    background-image: url('/media/icons/business.svg');
}

.box:has(> .box-image.amazon) {
    display: none;
}

.box .box-image.amazon {
    background-image: url('/media/icons/amazon.svg');
}

.box .box-image.music {
    background-image: url('/media/icons/music_ind.svg');
}

.box .box-image.program {
    background-image: url('/media/icons/programming.svg');
}

.box .box-image.web {
    background-image: url('/media/icons/websites.svg');
}

.btn {
    display: inline-block;
    text-decoration: none;
    border: var(--clr-accent) solid 5px;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 1.16rem;
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-inline: auto;
}

.btn-container .btn:not(:first-child) {
    margin-top: 15px;
}

/* page changes */

section .content {
    grid-area: webcontent;
}

section .header {
    max-width: 600px;
    margin-inline: auto;
    grid-area: header;
}

section .header h2 {
    margin-bottom: 25px;
}

section .header p {
    line-height: 1.9rem;
    font-size: 1.1rem;
}

section#experience {
    clip-path: polygon(50% 0, 100% 3%, 100% 97%, 0 100%, 0 3%);
    padding-block: 80px;
}

section#education {
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 97%);
    padding-bottom: 80px;
}

main section {
    padding-top: 20px;
}

main #ahollowaytxt p {
    padding-block: 1rem;
    font-size: 1.18rem;
}

main #summary {
    padding-block: 30px;
    width: auto;
    max-width: 680px;
}

main #summary p {
    line-height: 1.9rem;
    font-size: 1.1rem;
}




@media screen and (min-width: 810px) {

}

@media screen and (min-width: 1100px) {
    /* general */
    section .content {
        grid-template-columns: 1fr 1fr !important;
    }

    section .header h2, main section .header h2 {
        font-size: 2.1rem;
    }

    section .header p {
        font-size: 1.1rem;
    }

    /* skills */
    section#skills {
        grid-template-areas: 'header webcontent';
        padding-block: 80px;
        max-width: 1350px;
        margin-inline: auto;
    }

    section#skills .content {
        margin-top: 0;
        grid-template-columns: 440px auto;
        grid-template-columns: 1fr 1fr;
    }

    section#skills .header {
        max-width: 410px;
        text-align: left;
    }

    section#skills .btn {
        grid-column: span 2;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }

    section#education .content {
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    /* portfolios */
    section#portfolios {
        grid-template-areas: 'webcontent header';
        padding-block: 80px;
        max-width: 1350px;
        margin-inline: auto;
    }
    section#portfolios .header {
        max-width: 410px;
        text-align: right;
    }
    section#portfolios .content {
        margin-top: 0;
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}