@import url('/vars.css');

section {
    padding: 40px 20px;
    text-align: center;
    display: grid;
    gap: 35px;
}

section.purp-gradient-bg {
    background: linear-gradient(
        rgb(30, 18, 32),
        rgb(24 15 28 / 40%)
    );
}

section .header h2 {
    margin-bottom: 25px;
}

section .header p {
    line-height: 1.9rem;
    font-size: 1.1rem;
}

.content {
    display: grid;
    gap: 40px;
    margin-top: 40px;
}

.box-highlighted {
    border: 2px solid var(--infobox-selected);
}

.box {
    background-color: var(--infobox);
    border-radius: 5px;
    padding: 30px 20px;
    width: 220px;
    margin-inline: auto;
    box-shadow: rgb(0 0 0 / 30%) 0 0 18px;
    display: grid;
    gap: 14px;
}

.box .box-title {
    font-size: 1.3rem;
}

.box .box-desc {
    font-size: 1.25rem;
}

.box .box-image {
    width: 97px;
    height: 97px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(200deg) brightness(104%) contrast(103%);
    margin: auto;
    margin-bottom: 8px;
}

.box .box-image#scc {
    background-image: url('/media/icons/school.svg');
}

.box .box-image#trs {
    background-image: url('/media/icons/retail.svg');
}

.btn {
    display: inline-block;
    text-decoration: none;
    border: var(--clr-accent) solid 5px;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 1.13rem;
    display: block;
    width: fit-content;
    margin-inline: auto;
}

/* page changes */

main section {
    padding-top: 20px;
}

main #ahollowaytxt p {
    padding-block: 1rem;
    font-size: 1.18rem;
}

main #summary {
    padding-block: 30px;
    width: auto;
}

main #summary p {
    line-height: 1.9rem;
    font-size: 1.1rem;
}



@media screen and (min-width: 570px) {

}

@media screen and (min-width: 800px) {

}