@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;700&display=swap');
@import url('/vars.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
html, body {
    background-color: var(--main-bg-color);
    scroll-behavior: smooth;
}
.h0, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}
.subtext {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
.h0 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 134px;
}
h1 {
    font-size: 65px; 
}
.h1subtext {
    font-size: 33px;
}
h2 {
    font-size: 44px;
}
.h2subtext {
    font-size: 26px;
}
h3 {
    font-size: 32px;
}
h4, .h4subtext {
    font-size: 24px;
}
header, footer {
    background-color: var(--headers);
    text-align: center;
}
header > h3 {
    padding: 16px;
}
footer {
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
    margin-top: 50px;
}
footer a {
    padding: 0 20px;
    text-decoration: none;
}
footer h4 {
    padding: 10px;
}
footer #popup-modal-msg span {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 14px;
    font-size: 22px;
    border-radius: 8px;
    background-color: rgb(179, 131, 255);
}
footer #popup-modal-msg.error span {
    background-color: rgb(250, 101, 101);
}
footer #popup-modal-msg.success span {
    background-color: rgb(113, 205, 90);
}
footer #popup-modal-msg.hidden {
    opacity: 0;
    transition: all 1s;
}
.content {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    text-align: center;
}
.section {
    padding: 45px 0 65px 0;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#contact {
    display: grid;
}
#contact h2 {
    padding: 30px;
}
#contact .intbuttons {
    display: inline-block;
    background-color: var(--main-bg-color);
    font-size: 28px;
    text-decoration: none;
    width: fit-content;
    margin: 10px 20px;
    padding: 8px 35px;
    border: 2px solid white;
    transition: all 0.1s;
}
#contact .intbuttons:hover {
    background-color: var(--offwhite);
    color: black;
    cursor: pointer;
}
#socialcard {
    max-width: 722px;
    background-color: var(--headers);
    margin: 10px auto;
    border-radius: 15px;
    font-size: 0;
    display: none;
    transition: all 0.3s;
}
#socialcard img {
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(200deg) brightness(104%) contrast(103%);
    width: 41px;
    height: 41px;
    margin: 10px 30px;
}

@media screen and (max-width: 800px) {
    /* h1 {
        font-size: ;
    }
    h2 {
        font-size: 39px;
    }
    h3 {
        font-size: ;
    }
    h4 {
        font-size: ;
    } */
}

@media screen and (max-width: 570px) {
    h1 {
        font-size: 49px;
    }
    .h1subtext {
        font-size: 24px;
    }
    h2 {
        font-size: 34px;
    }
    h3 {
        font-size: 23px;
    }
    h4 {
        font-size: 17px;
    }
}