@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;700&display=swap');
@import url('/vars.css');
@import url('/css/hamburgers.css');
@import url('/css/background.css');
/* main */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
html, body {
    background-color: var(--main-bg-color);
    background-image: linear-gradient(
        #201724 0%,
        #110814 8%,
        #140E16
    );
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}
/* :target::before {
    content: "";
    position: relative;
    visibility: none;
    height: 80px; 
    margin-top: -80px;
}
*/

/* defaults */

.clr-accent {
    color: var(--clr-accent);
}

h1, h2, .heading {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.05ch;
    font-weight: 700;
}
h1 {
    font-size: 2rem;
}

/* header */
header {
    background-color: transparent;
    width: 100vw;
    margin-inline: auto;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all 140ms ease;
}

/* when mobile nav bar open */
/* style head bg */
header:has(#head-bottom.activated) {
    background-color: var(--clr-header-activated);
}
/* show social btns */
header:has(#head-bottom.activated) .head-socials {
    opacity: 1;
    display: block;
    visibility: visible;
}
header:has(#head-bottom.activated) #head-logo {
    opacity: 1 !important;
}

header .wrapper {
    display: grid;
    margin: 12px;
    gap: 15px;
}

header #head-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .head-socials {
    opacity: 0;
    transition: opacity 300ms;
    visibility: collapse;
}

header .head-socials img {
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(200deg) brightness(104%) contrast(103%);
    width: 40px;
    height: 40px;
    padding-right: 5px;
}

header #head-logo {
    background-image: url('/media/icons/ajh.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 54px;
    height: 54px;
    margin-right: 32px;
    transition: opacity 150ms;
}

header #head-bottom {
    max-height: 0;
    /* display: none; */
    overflow: hidden;
    transition: max-height ease-out 200ms;
}

header #head-bottom.activated {
    max-height: 100%;
    /* display: block; */
}

header button {
    background-color: var(--infobox) !important;
}

header nav li {
    list-style-type: none;
    display: block;
    text-align: center;
    padding-block: 1.2rem;
    margin-block: 8px;
    background-color: var(--infobox-blue);
    border-radius: 5px;
}

header nav a {
    text-decoration: none;
}

#head-scollfix {
    height: 80px;
    width: 100vw;
}

/* footer */

footer {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(
        rgba(35, 24, 44, 0),
        #23182C 40%
    );
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
footer .wrapper {
    margin: auto;
    width: fit-content;
    text-align: center;
}
footer #footlinks {
    display: flex;
    justify-content: space-around;
}

/* different screen rez */

@media screen and (min-width: 570px) {

    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav li {
        list-style-type: none;
        display: inline-block;
    }
}

@media screen and (min-width: 800px) {

}