@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;700&display=swap');
@import url('/vars.css');
@import url('/hamburgers.css');
/* main */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
html, body {
    background-color: var(--main-bg-color);
    background-image: linear-gradient(
        #201724 0%,
        #110814 8%,
        #140E16
    );
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

/* background */
#bodybg {
    position: absolute;    
    z-index: 0;
}
header, section {
    position: relative;
    z-index: 1;
}
.bgball {
    filter: blur(22px);
    background-image: linear-gradient(
      #DDBC6E,
      #BB6ADC,
      #7B73E9
    );
    border-radius: 50%;
    animation: automove1 45s ease-in-out alternate infinite;
    margin: 50px;
  }
  .size1 {
    width: 140px;
    height: 140px;
    background-image: linear-gradient(-90deg,
      #DDBC6E,
      #BB6ADC,
      #7B73E9
    );
    filter: blur(16px);
  }
  .size2 {
    width: 215px;
    height: 215px;
    background-image: linear-gradient(-120deg,
      #DDBC6E,
      #BB6ADC,
      #7B73E9
    );
    animation: automove2 45s ease-in-out alternate infinite;
    filter: blur(16px);
  }
  .size3 {
    width: 265px;
    height: 265px;
    background-image: linear-gradient(35deg,
      #DDBC6E,
      #BB6ADC,
      #7B73E9
    );
    filter: blur(19px);
  }
  .size4 {
    width: 315px;
    height: 315px;
    background-image: linear-gradient(60deg,
      #DDBC6E,
      #BB6ADC,
      #7B73E9
    );
  }
  .size5 {
    width: 350px;
    height: 350px;
    background-image: linear-gradient(110deg,
      #DDBC6E,
      #BB6ADC,
      #7B73E9
    );
    animation: automove2 45s ease-in-out alternate infinite;
    filter: blur(26px);
  }

/* defaults */

.clr-accent {
    color: var(--clr-accent);
}

h1, h2, .heading {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.05ch;
    font-weight: 700;
}
h1 {
    font-size: 2rem;
}

/* header */
header {
    background-color: transparent;
    width: 100vw;
    margin-inline: auto;
    position: fixed;
    top: 0;
}

header .wrapper {
    display: grid;
    margin: 12px;
    gap: 15px;
}

header #head-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .head-socials {
    opacity: 0;
    transition: opacity 500ms;
}

header .head-socials.activated {
    display: block;
    opacity: 1;
}

header .head-socials img {
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(200deg) brightness(104%) contrast(103%);
    width: 40px;
    height: 40px;
    padding-right: 5px;
}

header #head-logo {
    background-image: url('/media/icons/ajh.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 54px;
    height: 54px;
}

header #head-bottom {
    max-height: 0;
    display: none;
    overflow: hidden;
    transition: max-height ease-out 500ms;
}

header #head-bottom.activated {
    max-height: 100%;
    display: block;
}

header button {
    background-color: var(--infobox) !important;
}

header nav li {
    list-style-type: none;
    display: block;
    text-align: center;
    padding-block: 1rem;
    margin: 0.4rem auto;
    background-color: var(--infobox);
}

header nav a {
    text-decoration: none;
}

#head-scollfix {
    height: 80px;
    width: 100vw;
}

/* footer */

footer {
    display: block;
}

/* different screen rez */

@media screen and (min-width: 570px) {

    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav li {
        list-style-type: none;
        display: inline-block;
    }
}

@media screen and (min-width: 800px) {

}