:root {
    --main-accent: rgb(47, 123, 236);
    --dark-accent: rgb(24, 26, 39);
    --main-bg-color: #1a1a1a;
    --headers: #232323;
    --mainwhite: #fff;
    --offwhite: #eee;
    --midgray: #666;

    --clr-accent: #A74BEC;
    --infobox: hsl(0, 0%, 38%, 0.32);
    --infobox-selected: hsl(56, 100%, 55%, 0.23);
    --clr-mainwhite: #fff;
}