:root {
    --main-accent: rgb(47, 123, 236);
    --main-bg-color: #0f0f0f;
    --headers: #232323;
    --mainwhite: #fff;
    --offwhite: #eee;
    --midgray: #666;

    --clr-accent: #A74BEC;
    --infobox: hsla(283, 6%, 43%, 0.4);
    --infobox-pop: hsla(283, 6%, 5%, 1);
    --infobox-selected: hsl(56, 100%, 55%, 0.23);
    --infobox-blue: hsl(236, 91%, 75%, 0.4);
    --clr-mainwhite: #ffffff;
    --clr-header-activated: rgb(24 26 39 / 90%);

    --font-size: 1.6rem;

    --bp-tablet: 50rem;
    --bp-desktop: 68.75rem;
}