header,
section {
  position: relative;
  z-index: 1;
}

/* #bodybg {
    position: absolute;    
    z-index: 0;
    overflow: hidden;
    width: 100vw;
    padding-bottom: 20px;
} */
#bodybg {
  z-index: 0;
  width: 100%;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 900px;
  margin-inline: auto;
  translate: scale(1.1);
  opacity: 0.3;
}
.bgball {
  position: absolute;
  filter: blur(22px) saturate(1.1);
  background-image: linear-gradient(#ddbc6e, #bb6adc, #7b73e9);
  border-radius: 50%;
  animation: automove1 45s ease-in-out alternate infinite;
  margin: auto;
}
.size1 {
  width: 140px;
  height: 140px;
  background-image: linear-gradient(-90deg, #ddbc6e, #bb6adc, #7b73e9);
  filter: blur(16px) saturate(1.1);
}
.size2 {
  width: 215px;
  height: 215px;
  background-image: linear-gradient(-120deg, #ddbc6e, #bb6adc, #7b73e9);
  animation: automove2 45s ease-in-out alternate infinite;
  filter: blur(16px) saturate(1.1);
}
.size3 {
  width: 265px;
  height: 265px;
  background-image: linear-gradient(35deg, #ddbc6e, #bb6adc, #7b73e9);
  filter: blur(19px) saturate(1.1);
}
.size4 {
  width: 315px;
  height: 315px;
  background-image: linear-gradient(60deg, #ddbc6e, #bb6adc, #7b73e9);
}
.size5 {
  width: 350px;
  height: 350px;
  background-image: linear-gradient(110deg, #ddbc6e, #bb6adc, #7b73e9);
  animation: automove2 45s ease-in-out alternate infinite;
  filter: blur(26px) saturate(1.1);
}

.bgball[index="1"] {
  top: 160px;
  right: -40px;
}

.bgball[index="2"] {
  top: 20px;
  left: -140px;
}

.bgball[index="3"] {
  margin-top: 300px;
  margin-right: -20px;
}

.bgball[index="4"] {
  margin-top: 260px;
  margin-left: 10px;
}

.bgball[index="5"] {
  margin-top: 1060px;
  margin-right: 10px;
}

.bgball[index="6"] {
  margin-top: 300px;
  margin-left: -30px;
}

.bgball[index="7"] {
  margin-top: 160px;
  left: 50px;
}

.bgball[index="8"] {
  margin-top: 690px;
  right: 0;
}

.bgball[index="9"] {
  margin-top: 260px;
  margin-left: -10px;
}

.bgball[index="10"] {
  margin-top: 320px;
  margin-right: -20px;
}

.bgball[index="11"] {
  margin-top: 200px;
  margin-left: 10px;
}

@keyframes automove1 {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(-8px, -12px) rotate(40deg);
  }
  40% {
    transform: translate(6px, -3px) rotate(10deg);
  }
  60% {
    transform: translate(-19px, 8px) rotate(-40deg);
  }
  80% {
    transform: translate(8px, 0) rotate(20deg);
  }
  100% {
    transform: translate(-3px, 12px) rotate(60deg);
  }
}
@keyframes automove2 {
  0% {
    transform: translate(6px, 0) rotate(0deg);
  }
  20% {
    transform: translate(-2px, 12px) rotate(40deg);
  }
  40% {
    transform: translate(-8px, 3px) rotate(10deg);
  }
  60% {
    transform: translate(19px, -8px) rotate(-40deg);
  }
  80% {
    transform: translate(-8px, 0) rotate(20deg);
  }
  100% {
    transform: translate(3px, -12px) rotate(60deg);
  }
}
